* {

  background-color: rgb(110 76 76);
  color: aliceblue;
}

.container {
  text-align: center;
  margin-top: 50px;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 300px;
  margin: 0 auto;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #170b0b;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #999393;
  cursor: pointer;
}

.cell.x::before {
  content: "X";
  font-size: 72px;
  color: rgb(61, 186, 186);
}

.cell.o::before {
  content: "O";
  font-size: 72px;
  color: rgb(164, 211, 46);
}

.cell:hover {
  background-color: gray;
}

.game-status {
  font-size: 30px;
  margin-top: 20px;
}

.restart-button {
  font-size: 20px;
  margin-top: 20px;
}